<div *ngIf="hero" class="container">
    <div class="row">
        <div class="col-md-12">
            
            <h2>{{hero.name}}</h2>
            
            <div class="row">
                <div class="col-md-4 col-sm-6 col-offset-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                        <span class="badge">{{hero.name}}</span>
                            Name
                        </li>
                        <li class="list-group-item">
                        <span class="badge">{{hero.id}}</span>
                            Id
                        </li>
                        <li class="list-group-item">
                        <span class="badge">{{hero.health}}</span>
                            Health
                        </li>
                        <li class="list-group-item">
                        <span class="badge">{{hero.powerLevel}}</span>
                            Power Level
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 col-offset-3">
                    <button (click)="goBack()">Back</button>
                    <button (click)="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>